pre {

    display: block;
    padding: 11.5px;
    margin: 0 0 12px;
    font-size: 14px;
    line-height: 1.66;
    color: #1A1A1A;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#copiedMessage {
    color: green;
}